/stall-comp.s
*.bin
*.class
*.o
/log_qemu.txt
/kernel-comp.s
*.elf
/src/Dlib/stall/*
/kern32-comp.dhulb
/system-comp.s
fstesting
*.mock
.vscode
/build
/Stallos
gensizes.h
__pycache__
local
fstestinggcc
*.gch
